.sidebar {
  position: fixed;
  // left: 0;
  top: 53px;
  z-index: 50;
  border-radius: 0px !important;
  min-height: 100vh;
  width: 300px;
  gap: 10px;
  justify-content: flex-start;
  border-left: 0;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidebar__link {
  padding: 0 10px;
}
.img {
  width: 90px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.logo {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: black;
}
.sidebar__input {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #e3e8ed;
}
.search-bar {
  margin-bottom: 30px;
  background: #f2f2f2;
}
.accordion-menu {
  position: relative;
  overflow-y: scroll;
  height: 500px;
  //   scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  width: 5px;
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  width: 4px;
  background: rgb(85, 85, 85);
  border-radius: 5px;
}
.side_bar {
  position: absolute;
  width: 300px;
}
.sidebar__bottom {
  padding: 15px 10px;
  border-radius: 5px;
  margin: 0px 10px;
  margin-bottom: 50px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eceff1;
}
.logo__bottom {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: middle;
}

.doc__title {
  margin-top: 20px !important;
  padding: 10px;
  font-size: 21px;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
  background: #eceff1;
}
.active {
  background: #9fa3a7;
  border-radius: 5px;
}
.add__page {
  background: #e3e8ed;
}
.plus {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.open {
  transform: translateX(0) !important;
}
.btn-warning {
  top: 0px;
  left: 300px;
  border-radius:50%;
  display: none;
  z-index: 56;
}

@media screen and (max-width: 1115px) {
  .sidebar {
    transform: translateX(-108%);
  }
  .btn-warning{
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .sidebar{
    width: 80%;
  }
  .btn-warning{
    left: 335px;
  }
}
@media screen and (max-width: 350px) {
  .btn-warning{
    left: 270px;
  }
}